<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Tyche </title>
    </head>
    <body>

    <!-- Consume name and chip number, if null, redirect to /(register) -->

    <p id="thisUser" th:text="${thisUser.getName()}"> </p>

    <p th:text="${thisUser.getChips()}"> </p>

    <p> hi there :) </p>

    <br>
    <br>

    <p> Table state: </p>

    <div th:each="table : ${tableState}">
        <div th:text="${table.getPot()}"></div>
        <div th:text="${table.getFlop0()}"></div>
        <div th:text="${table.getUuid()}"></div>
    </div>

    <br>
    <br>

    <p> Other players: </p>

    <div th:each="user : ${otherUsers}">
        <div th:text="${user.getName()}"></div>
        <div th:text="${user.getChips()}"></div>
    </div>

    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);

    </script>


    </body>
</html>