<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <style>
        .myTurn{
            display: none
        }


    </style>

    <head>
        <title> Tyche </title>
    </head>
    <body>

    <!-- Consume name and chip number, if null, redirect to /(register) -->

    <p id="thisUser" th:text="${thisUser.getName()}"> </p>

    <p id="thisUuid" th:text="${thisUser.getUuid()}" style="display: none"> </p>

    <p th:text="${thisUser.getChips()}"> </p>

    <p th:text="${thisUser.getCard0()}"> </p>

    <p th:text="${thisUser.getCard1()}"> </p>

    <p id="isMyTurn" th:text="${thisUser.isMyTurn()}"> </p>

    <p> hi there :) </p>

    <br>
    <br>

    <h1 class="myTurn"> My Turn </h1>

    <form class="myTurn" action="/turn" method="post">
        <input type="hidden" class="check uuid" name="uuid" value="">
        <input type="hidden" class="check" name="action" value="chec"> <!-- must be four char's -->
        <input type="hidden" class="check" name="betValue" value="0">
        <input type="submit" value="check">
    </form>

    <form class="myTurn" action="/turn" method="post">
        <input type="hidden" class="call uuid" name="uuid" value="">
        <input type="hidden" class="call" name="action" value="call">
        <input type="hidden" class="call" name="betValue" value="0">
        <input type="submit" value="call">
    </form>

    <form class="myTurn" action="/turn" method="post">
        <input type="hidden" class="raise uuid" name="uuid" value="">
        <input type="hidden" class="raise" name="action" value="rais"> <!-- must be four char's -->
        <input type="text" class="raise" name="betValue" value="0">
        <input type="submit" value="raise">
    </form>

    <form class="myTurn" action="/turn" method="post">
        <input type="hidden" class="fold uuid" name="uuid" value="">
        <input type="hidden" class="fold" name="action" value="fold">
        <input type="hidden" class="fold" name="betValue" value="0">
        <input type="submit" value="fold">
    </form>


    <br>
    <br>

    <p> Table state: </p>

    <div th:each="table : ${tableState}">
        <div th:text="${table.getPot()}"></div>
        <div th:text="${table.getFlop0()}"></div>
        <div th:text="${table.getUuid()}"></div>
        <div th:text="${table.getCurrentBet()}"></div>
    </div>

    <br>
    <br>

    <p> Other players: </p>

    <div th:each="user : ${otherUsers}">
        <div th:text="${user.getName()}"></div>
        <div th:text="${user.getChips()}"></div>
    </div>

    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);

        var myTurn = document.getElementsByClassName("myTurn");

        if(document.getElementById("isMyTurn").innerHTML == "true"){
            for (let myTurnItem of myTurn) {
                myTurnItem.style.display = "table";
            }
        }

        var uuid = document.getElementById("thisUuid").innerHTML;
        console.log(uuid);
        var uuidList = document.getElementsByClassName("uuid");
        for (let uuidItem of uuidList) {
            uuidItem.value = uuid;
        }




    </script>


    </body>
</html>